.card {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 4px 3px lightgray;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.card__section {
  display: flex;
  justify-content: space-between;
}

.card__text {
  color: grey;
}