.card {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 240px;
  border: 1px solid grey;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 4px 3px lightgray;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.card__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card__text {
  color: grey;
}

.card__input {
  display: block;
  width: 100%;
  height: 1rem;
}

.card__input-container {
  width: 50%;
  position: relative;
}

.card__input-error {
  position: absolute;
  color: red;
  font-size: 10px;
}